<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/students.css" />
<body>
  <div class="main">
    <div class="page1">
      <%- include('../includes/navbar')%>
      <a href="/newStudent">Add new Student</a>
      <div class="students">
        <%for(let student of studentsData){%>
        <div class="list">
          <img
            src="https://ui-avatars.com/api/?name=<%= student.name %>"
            alt=""
          />
          <div class="details">
            <h2><%= student.name %></h2>
            <p>CLASS : <%= student.class %></p>
            <p>STATUS : <%= student.status %></p>
          </div>
        </div>
        <%}%>
      </div>
    </div>
  </div>
</body>
