<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="students.css" />
<body>
  <div class="main">
    <div class="page1">
      <%- include('../includes/navbar')%>
      <div class="students">
        <%for(let info of data){%>
        <div class="list">
          <img src="https://ui-avatars.com/api/?name=<%= info.name %>" alt="" />
          <div class="details">
            <h2><%= info.name %></h2>
            <p>CLASS : <%= info.class %></p>
            <p>STATUS : <%= info.status %></p>
          </div>
        </div>
        <%}%>
      </div>
    </div>
  </div>
</body>
